[submodule "extern/blocksparse"]
	path = returnn/extern/blocksparse
	url = https://github.com/albertz/blocksparse.git
	branch = master
[submodule "extern/kenlm"]
	path = returnn/extern/kenlm
	url = https://github.com/kpu/kenlm.git
	branch = master
[submodule "extern/openfst"]
	path = returnn/extern/openfst
	url = https://github.com/mjansche/openfst.git
	branch = 1.7.3
[submodule "extern/ParseOggVorbis"]
	path = returnn/extern/ParseOggVorbis
	url = https://github.com/albertz/ParseOggVorbis.git
	branch = master
[submodule "extern/HawkAaronWarpTransducer/warp-transducer"]
	path = returnn/extern/HawkAaronWarpTransducer/warp-transducer
	url = https://github.com/HawkAaron/warp-transducer.git
[submodule "returnn/extern/WarpRna/warp-rna"]
	path = returnn/extern/WarpRna/warp-rna
	url = https://github.com/rwth-i6/warp-rna.git
