*.pyc
__pycache__
.history*
/.idea
ipython-kernel-*.json
.*.swp
.nfs*
*~
*.so
/.vscode

# QtCreator/cmake creates this:
/extern/build-*

# When we run tests here, these can be created.
/events.out.tfevents.*
