# https://packaging.python.org/guides/using-manifest-in/

include MANIFEST.in
include _setup_info_generated.py

include LICENSE
include CODEOWNERS

include .editorconfig
include .kateconfig
include .gitmodules
include .gitignore

include *.py
include *.rst
include *.md
include *.txt
graft returnn

# Not all extern files.
prune returnn/extern_private
prune returnn/extern
include returnn/extern/*.py
graft returnn/extern/graph_editor
graft returnn/extern/WarpRna

graft tools
graft demos
graft tests

global-exclude *.py[cod]
global-exclude __pycache__
global-exclude .history*
