#!crnn/rnn.py
#Reference: https://arxiv.org/abs/1804.09849

import os
from subprocess import check_output
import numpy

my_dir = os.path.dirname(os.path.abspath(__file__))

debug_mode = False
if int(os.environ.get("DEBUG", "0")):
    print("** DEBUG MODE")
    debug_mode = True

if config.has("beam_size"):
    beam_size = config.int("beam_size", 0)
    print("** beam_size %i" % beam_size)
else:
    beam_size = 12

# task
use_tensorflow = True
task = "train"
device = "gpu"
multiprocessing = True
update_on_device = True

# data
# see: returnn/tools/dump-dataset.py "{'class':'TranslationDataset', 'path':'dataset', 'file_postfix':'train'}"

num_outputs = {'data': [24236, 1], 'classes': [24214, 1]}
num_inputs = num_outputs["data"][0]

# see: returnn/tools/dump-dataset.py "{'class':'TranslationDataset', 'path':'dataset', 'file_postfix':'train', 'seq_ordering':'sorted'}" --get_num_seqs
num_seqs = {'train': 4218414, 'dev': 3003}

# Via JTP: 5 times seeing the whole train dataset is enough.
EpochSplit = 50
SeqOrderTrainBins = num_seqs["train"] // 1000
TrainSeqOrder = "laplace:%i" % SeqOrderTrainBins
if debug_mode:
    TrainSeqOrder = "default"

_cf_cache = {}

def cf(filename):
    """Cache manager"""
    if filename in _cf_cache:
        return _cf_cache[filename]
    if int(os.environ.get("CF_NOT_FOR_LOCAL", "1")) and check_output(["hostname"]).strip() in ["cluster-cn-211", "sulfid"]:
        print("use local file: %s" % filename)
        return filename  # for debugging
    cached_fn = check_output(["cf", filename]).strip()
    assert os.path.exists(cached_fn)
    _cf_cache[filename] = cached_fn
    return cached_fn

def get_dataset(data):
    epochSplit = {"train": EpochSplit}.get(data, 1)
    return {
        "class": "TranslationDataset",
        "path": "base/dataset",
        "file_postfix": data,
        "source_postfix": " </S>",
        "target_postfix": " </S>",
        "partition_epoch": epochSplit,
        "seq_ordering": {"train": TrainSeqOrder, "dev": "sorted"}.get(data, "default"),
        "estimated_num_seqs": (num_seqs.get(data, None) // epochSplit) if data in num_seqs else None}

train = get_dataset("train")
dev = get_dataset("dev")
dev_short = get_dataset("dev_short")
test_data = get_dataset("test")
eval_data = get_dataset("eval")
cache_size = "0"
window = 1

######################

EmbDim = 1024 # embedding dimension
LstmDim = 1024

EncKeyTotalDim = 1024
EncValueTotalDim = 1024
EncProjDim = 1024

AttNumHeads = 4
EncKeyPerHeadDim = EncKeyTotalDim // AttNumHeads
EncValuePerHeadDim = EncValueTotalDim // AttNumHeads


def add_enc_layer(d, inp, output, res_conn=False):
  """
    :param res_conn: True if residual connection is enabled and False otherwise (enabled for layers >= 3)
  """

  d[output + '_inp_layernorm'] = {"class": "layer_norm", "from": [inp]}

  d[output + '_lstm_fw'] = {"class": "rec", "unit": "nativelstm2",
                            "n_out": LstmDim, "direction": 1, "from": [output + '_inp_layernorm']}
  d[output + '_lstm_bw'] = {"class": "rec", "unit": "nativelstm2",
                            "n_out" : LstmDim, "direction": -1, "from": [output + '_inp_layernorm']}

  # concatenate

  d[output + '_inp_concat'] = {"class": "copy", "from": [output + '_lstm_fw', output + '_lstm_bw']}

  d[output + '_ff_drop'] = {"class": "dropout", "from": [output + '_inp_concat'], "dropout": 0.3}

  # add

  if res_conn:
    d[output + '_ff_out'] = {"class": "combine", "kind": "add", "from": [inp, output + '_ff_drop']}

    d[output] = {"class": "copy", "from": [output + '_ff_out']}
  else:
    d[output] = {"class": "copy", "from": [output + '_ff_drop']}


def add_dec_first_layer(d, inp, output):

  d[output + '_inp_layernom'] = {"class": "layer_norm", "from": [inp]}

  d[output + '_lstm_fw'] = {"class": "rec", "unit": "nativelstm2",
                              "n_out": LstmDim, "direction": 1, "from": [output + '_inp_layernom']}

  # Multi-head additive attention

  d['energy'] = {"class": "concat_attention", "from": ["base:enc_ctx", "att_query"]}  # (B, H, enc-T, 1)

  d['att_weights'] = {"class": "softmax_over_spatial", "from": ["energy"]}  # (B, enc-T, H, 1)

  d['att0'] = {"class": "generic_attention", "weights": "att_weights", "base": "base:enc_value"}  # (B, H, V)

  d['att'] = {"class": "merge_dims", "axes": "except_batch", "from": ["att0"]}  # (B, H*V)

  d['att_ctx'] = {"class": "linear", "activation": None, "with_bias": False, "from": ['att'],
                  "n_out": EncValueTotalDim}


def add_dec_layer(d, inp, output, res_conn=False):

  d[output + '_inp_layernom'] = {"class": "layer_norm", "from": [inp]}

  # concat

  d[output + '_inp_concat'] = {"class": "copy", "from": [output + '_inp_layernom', 'att_ctx']}

  # unidirectional lstm

  d[output + '_lstm_fw'] = {"class": "rec", "unit": "nativelstm2",
                              "n_out": LstmDim, "direction": 1, "from": [output + '_inp_drop']}

  # dropout

  d[output + '_ff_drop'] = {"class": "dropout", "from": [output + '_lstm_fw'], "dropout": 0.3}

  # add
  if res_conn:
    d[output + '_ff_out'] = {"class": "combine", "kind": "add", "from": [inp, output + '_ff_drop']}

    d[output + '_add'] = {"class": "copy", "from": [output + '_ff_out']}
  else:
    d[output + '_add'] = {"class": "copy", "from": [output + '_ff_drop']}


network = {
  "source_embed_raw": {"class": "linear", "activation": None, "with_bias": False, "n_out": EmbDim},

  "source_embed_drop": {"class": "dropout", "from": ["source_embed_raw"], "dropout": 0.3},

  "source_embed": {"class": "copy", "from": ["source_embed_drop"]},

  # add encoder layers later

  "encoder": {"class": "layer_norm", "from": ["enc_N"]},

  "enc_proj_out": {"class": "linear", "from": ["encoder"], "activation": None, "with_bias": False, "n_out": EncProjDim},


  # splits encoder output into chunks to apply multi-head attention

  "enc_ctx0": {"class": "linear", "activation": None, "with_bias": False, "from": ["enc_proj_out"],
               "n_out": EncKeyTotalDim},  # (B, enc-T, D)
  "enc_ctx": {"class": "split_dims", "axis": "F", "dims": (AttNumHeads, EncKeyPerHeadDim),
              "from": ["enc_ctx0"]},  # (B, enc-T, H, D/H)
  "enc_value0": {"class": "linear", "activation": None, "with_bias": False, "from": ["enc_proj_out"],
                 "n_out": EncValueTotalDim},
  "enc_value": {"class": "split_dims", "axis": "F", "dims": (AttNumHeads, EncValuePerHeadDim),
                "from": ["enc_value0"]},  # (B, enc-T, H, D'/H)

  "output": {"class": "rec", "from": [], "unit": {
    'output': {'class': 'choice', 'target': 'classes', 'beam_size': 12, 'from': ["output_prob"]},
    "end": {"class": "compare", "from": ["output"], "value": 0},
    "target_embed_raw": {'class': 'linear', 'activation': None, "with_bias": False, 'from': ['output'],
                         "n_out": EmbDim, "initial_output": 0},
    "target_embed": {"class": "dropout", "from": ["target_embed_raw"], "dropout": 0.3},

    "att_query": {"class": "split_dims", "axis": "F", "dims": (AttNumHeads, EncKeyPerHeadDim),
                  "from": ["target_embed"]}, # (B, H, D/H)

    # add decoder layers later

    "decoder": {"class": "layer_norm", "from": ["dec_N"]},

    "output_prob": {
      "class": "softmax", "from": ["decoder", "att_ctx"], "dropout": 0.0,
      "target": "classes", "loss": "ce", "loss_opts": {"label_smoothing": 0.1},
      "with_bias": False
    }
  }, "target": "classes", "max_seq_len": "max_len_from('base:encoder') * 3"},

  "decision": {
    "class": "decide", "from": ["output"], "loss": "edit_distance", "target": "classes",
    "loss_opts": {
        #"debug_print": True
    }
  }
}

# Add encoder layers

add_enc_layer(network, "source_embed", "enc_1")
add_enc_layer(network, "enc_1", "enc_2")
add_enc_layer(network, "enc_2", "enc_3", res_conn=True)
add_enc_layer(network, "enc_3", "enc_4", res_conn=True)
add_enc_layer(network, "enc_4", "enc_5", res_conn=True)
add_enc_layer(network, "enc_5", "enc_N", res_conn=True)

# Add decoder layers

net_out_unit = network["output"]["unit"]

add_dec_first_layer(net_out_unit, "target_embed", "dec_1")

add_dec_layer(net_out_unit, "dec_1", "dec_2")
add_dec_layer(net_out_unit, "dec_2", "dec_3", res_conn=True)
add_dec_layer(net_out_unit, "dec_3", "dec_4", res_conn=True)
add_dec_layer(net_out_unit, "dec_4", "dec_5", res_conn=True)
add_dec_layer(net_out_unit, "dec_5", "dec_6", res_conn=True)
add_dec_layer(net_out_unit, "dec_6", "dec_7", res_conn=True)
add_dec_layer(net_out_unit, "dec_7", "dec_N", res_conn=True)

######################

search_output_layer = "decision"
debug_print_layer_output_template = True

# trainer
tf_log_memory_usage = True
log_batch_size = True
batching = "random"
batch_size = 4096
max_seqs = 200
max_seq_length = 256
#chunking = ""  # no chunking
truncation = -1
num_epochs = 300
model = "net-model/network"
cleanup_old_models = True

def custom_construction_algo(idx, net_dict):
    # For debugging, use: python3 ./crnn/Pretrain.py config...
    orig_num_lstm_layers = 0
    while "lstm%i_fw" % orig_num_lstm_layers in net_dict:
        orig_num_lstm_layers += 1
    num_lstm_layers = idx + 1  # idx starts at 0. start with 1 layer
    # Use label smoothing only at the very end.
    net_dict["output"]["unit"]["output_prob"]["loss_opts"]["label_smoothing"] = 0
    if num_lstm_layers == orig_num_lstm_layers:
        return net_dict
    if num_lstm_layers >= orig_num_lstm_layers:
        return None
    # Leave the last layer as-is, but only modify its source.
    net_dict["encoder"]["from"] = ["lstm%i_fw" % (num_lstm_layers - 1), "lstm%i_bw" % (num_lstm_layers - 1)]
    # Delete non-used lstm layers. This is not explicitly necessary but maybe nicer.
    for i in range(num_lstm_layers, orig_num_lstm_layers):
        del net_dict["lstm%i_fw" % i]
        del net_dict["lstm%i_bw" % i]
    return net_dict

#pretrain = {"repetitions": 5, "construction_algo": custom_construction_algo}

gradient_clip = 0
#gradient_clip_global_norm = 1.0

optimizer = {"class": "adam", "beta1":0.9, "beta2":0.999, "epsilon":1e-6}

#debug_add_check_numerics_ops = True
#debug_add_check_numerics_on_output = True
gradient_noise = 0.0  # maybe try...
# accum_grad_multiple_step maybe try...
# "constant*linear_warmup*rsqrt_decay*rsqrt_hidden_size"

learning_rate = 0.2

learning_rates = list(numpy.exp(numpy.linspace(numpy.log(0.0003), numpy.log(learning_rate), num=15)))  # warmup
learning_rate_control = "newbob_multi_epoch"
#learning_rate_control_error_measure = "dev_score_output"
learning_rate_control_relative_error_relative_lr = True
learning_rate_control_min_num_epochs_per_new_lr = 10
newbob_multi_num_epochs = 10
newbob_multi_update_interval = 1
newbob_learning_rate_decay = 0.9
learning_rate_file = "newbob.data"

# log
#log = "| /u/zeyer/dotfiles/system-tools/bin/mt-cat.py >> log/crnn.seq-train.%s.log" % task
log = "log/crnn.%s.log" % task
log_verbosity = 5
