#!returnn.py
# kate: syntax python;
# tuned via demo-hyper-param-tuning.config

use_tensorflow = True

import os
from returnn.util.basic import get_login_username
demo_name, _ = os.path.splitext(__file__)
print("Hello, experiment: %s" % demo_name)

task = "train"
train = {"class": "Task12AXDataset", "num_seqs": 1000}
dev = {"class": "Task12AXDataset", "num_seqs": 100, "fixed_random_seed": 1}

num_inputs = 9
num_outputs = 2
batching = "random"
batch_size = 5000
max_seqs = 10
chunking = "0"

network = {
"fw0": {"class": "rec", "unit": "nativelstm2", "dropout": 0.011, "n_out": 40},
"output": {"class": "softmax", "loss": "ce", "from": ["fw0"], "dropout": 0.026, "L2": 0.0025}
}

# training
adam = True
learning_rate = 0.127
optimizer_epsilon = 5.e-15
decouple_constraints = False
gradient_clip = 10.
gradient_clip_norm = 0.07
gradient_noise = 0.3
model = "/tmp/%s/returnn/%s/model" % (get_login_username(), demo_name)  # https://github.com/tensorflow/tensorflow/issues/6537
num_epochs = 100
save_interval = 1

# log
log_verbosity = 3
#log_verbosity = 5
