# dataset
train Task12AXDataset:num_seqs=1000
dev Task12AXDataset:num_seqs=100
num_inputs 9
num_outputs 2

# model
hidden_size 10
hidden_type lstm_opt
activation sigmoid
bidirectional false
model /tmp/returnn.demo-task12ax.network

# batching
batch_size 2000
max_seqs 10
chunking 200:200

# optimization
num_epochs 5
adadelta true
learning_rate 1
## Note: with adadelta, after 5 epochs, I get down to 0.002 frame error (0.2% FER).
