#!crnn.py
# kate: syntax python;

import os
demo_name, _ = os.path.splitext(__file__)
print "Hello, experiment: %s" % demo_name

task = "train"
train = {"class": "Task12AXDataset", "num_seqs": 1000}
dev = {"class": "Task12AXDataset", "num_seqs": 100, "fixed_random_seed": 1}

num_inputs = 9
num_outputs = 2
batching = "random"
batch_size = 5000
max_seqs = 10
chunking = "200:200"

network = {
"fw0": {"class": "lstm2", "n_out": 10},
"output": {"class": "softmax", "loss": "ce", "from": ["fw0"]}
}

# training
nadam = True
learning_rate = 0.05
update_multiple_models = 2
update_multiple_models_average_step = 2
reset_update_params = True
model = "/tmp/crnn.%s.network" % demo_name
num_epochs = 100
save_interval = 20
gradient_clip = 0

# log
log_verbosity = 3

