# dataset
train GeneratingDataset::Task12AXDataset(num_seqs=100)
dev GeneratingDataset::Task12AXDataset(num_seqs=100)
num_inputs 9
num_outputs 2

# model
hidden_size 10,10,10
hidden_type forward
activation sigmoid
bidirectional false
model /tmp/returnn-pretrain-network

# batching
batch_size 2000
max_seqs 10
chunking 200:200

# optimization
pretrain default
num_epochs 5
adadelta true
learning_rate 1
## Note: with adadelta, after 5 epochs, I get down to 0.002 frame error (0.2% FER).
