name: CI

on:
  push:
    branches:
      - master
      - main
  pull_request:
  workflow_dispatch:

jobs:
  pycharm-inspect:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
        torch-version:
          # Some code uses newer features.
          - 2.8.0
        tf-version:
          - 2.10.0

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache
            ~/.local
          key: cache-${{ runner.os }}-py${{ matrix.python-version }}-torch${{ matrix.torch-version }}-tf${{ matrix.tf-version }}
          restore-keys: |
            cache-${{ runner.os }}-py${{ matrix.python-version }}-

      - name: Setup dependencies
        run: |
          echo "PATH=$PATH:~/.local/bin" >> $GITHUB_ENV
          echo "Python ${{matrix.python-version}}"
          python .github/workflows/_setup_deps.py \
            --python ${{matrix.python-version}} \
            --torch ${{ matrix.torch-version }} \
            --tf ${{ matrix.tf-version }} \
            --espnet 1 \
            --hf-datasets 1

      - name: Cache PyCharm
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/JetBrains
          key: cache-pycharm-${{ runner.os }}-py${{ matrix.python-version }}-torch${{ matrix.torch-version }}-tf${{ matrix.tf-version }}

      - name: Run PyCharm inspect
        run: |
          tests/pycharm-inspect.py

  base-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.8
        action:
          - TEST=Dataset
          - TEST=fork_exec
          - TEST=GeneratingDataset
          - TEST=hdf_dump
          - TEST=HDFDataset
          - TEST=LearningRateControl
          - TEST=MultiProcDataset
          - TEST=Pretrain
          - TEST=SprintDataset
          - TEST=TaskSystem
          - TEST=TaskSystem_SharedMem
          - TEST=tensor
          - TEST=TranslationDataset
          - TEST=Util

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache
            ~/.local
          key: cache-${{ runner.os }}-py${{ matrix.python-version }}-no-tf
          restore-keys: |
            cache-${{ runner.os }}-py${{ matrix.python-version }}-no-tf

      - name: Setup dependencies
        run: |
          echo "PATH=$PATH:~/.local/bin" >> $GITHUB_ENV
          echo "Python ${{matrix.python-version}}"

          python .github/workflows/_setup_deps.py \
            --python ${{matrix.python-version}}

      - name: Run test
        run: |
          export ${{ matrix.action }}
          python -m pytest tests/test_$TEST.py

  # Needs newer Python. Also install the extra datasets dependency only here.
  hf-datasets-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
        torch-version:
          - 2.8.0
        action:
          - TEST=datasets_huggingface

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache
            ~/.local
          key: cache-${{ runner.os }}-py${{ matrix.python-version }}-torch${{ matrix.torch-version }}
          restore-keys: |
            cache-${{ runner.os }}-py${{ matrix.python-version }}-

      - name: Setup dependencies
        run: |
          echo "PATH=$PATH:~/.local/bin" >> $GITHUB_ENV
          echo "Python ${{matrix.python-version}}"
          python .github/workflows/_setup_deps.py \
            --python ${{matrix.python-version}} \
            --torch ${{ matrix.torch-version }} \
            --hf-datasets 1

      - name: Run test
        run: |
          export ${{ matrix.action }}
          python -m pytest tests/test_$TEST.py

  tf-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.8
        tf-version:
          - 2.10.0
        action:
          - TEST=Config
          - TEST=Fsa
          - TEST=Log
          - TEST=SprintInterface
          - TEST=TFEngine
          - TEST=TFNativeOp
          - TEST=TFNetworkLayer
          - TEST=TFNetworkRecLayer
          - TEST=TFUpdater
          - TEST=TFUtil
          - TEST=tools
        include:
          - action: TEST=TFEngine
            python-version: 3.8
            tf-version: 2.3.0
          - action: TEST=demos RETURNN_DISABLE_TORCH=1
            python-version: 3.8
            tf-version: 2.3.0

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache
            ~/.local
          key: cache-${{ runner.os }}-py${{ matrix.python-version }}-tf${{ matrix.tf-version }}
          restore-keys: |
            cache-${{ runner.os }}-py${{ matrix.python-version }}-

      - name: Setup dependencies
        run: |
          echo "PATH=$PATH:~/.local/bin" >> $GITHUB_ENV
          echo "Python ${{matrix.python-version}}"

          python .github/workflows/_setup_deps.py \
            --python ${{matrix.python-version}} \
            --tf ${{ matrix.tf-version }}

      - name: Run test
        run: |
          export ${{ matrix.action }}
          python -m pytest tests/test_$TEST.py

  torch-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
        torch-version:
          - 1.13.1
          - 2.0.0
        action:
          - TEST=demos RETURNN_DISABLE_TF=1
          - TEST=torch_dataset
          - TEST=torch_engine
          - TEST=torch_frontend
          - TEST=torch_internal_frontend
          - TEST=torch_util
          - TEST=torch_native_op
          - TEST=threading

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache
            ~/.local
          key: cache-${{ runner.os }}-py${{ matrix.python-version }}-torch${{ matrix.torch-version }}
          restore-keys: |
            cache-${{ runner.os }}-py${{ matrix.python-version }}-

      - name: Setup dependencies
        run: |
          echo "PATH=$PATH:~/.local/bin" >> $GITHUB_ENV
          echo "Python ${{matrix.python-version}}"

          python .github/workflows/_setup_deps.py \
            --python ${{matrix.python-version}} \
            --torch ${{ matrix.torch-version }}

      - name: Run test
        run: |
          export ${{ matrix.action }}
          python -m pytest tests/test_$TEST.py

  rf-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
        torch-version:
          - 2.0.0
        tf-version:
          - 2.10.0
        action:
          - TEST=rf_array
          - TEST=rf_attention
          - TEST=rf_base
          - TEST=rf_cond
          - TEST=rf_const
          - TEST=rf_container
          - TEST=rf_conv
          - TEST=rf_decoder_transformer
          - TEST=rf_encoder_conformer
          - TEST=rf_gradient
          - TEST=rf_label_smoothing
          - TEST=rf_loop
          - TEST=rf_math
          - TEST=rf_normalization
          - TEST=rf_piecewise_linear
          - TEST=rf_rec
          - TEST=rf_reduce
          - TEST=rf_signal
        include:
          # Some selected tests (but not all) with some other versions.
          - action: TEST=rf_base
            python-version: 3.8
            torch-version: 1.13.1
            tf-version: 2.10.0

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache
            ~/.local
          key: cache-${{ runner.os }}-py${{ matrix.python-version }}-torch${{ matrix.torch-version }}-tf${{ matrix.tf-version }}
          restore-keys: |
            cache-${{ runner.os }}-py${{ matrix.python-version }}-

      - name: Setup dependencies
        run: |
          echo "PATH=$PATH:~/.local/bin" >> $GITHUB_ENV
          echo "Python ${{matrix.python-version}}"

          python .github/workflows/_setup_deps.py \
            --python ${{matrix.python-version}} \
            --torch ${{ matrix.torch-version }} \
            --tf ${{ matrix.tf-version }} \
            --espnet 1

      - name: Run test
        run: |
          export ${{ matrix.action }}
          python -m pytest tests/test_$TEST.py
